body {
    background-color: #E5E8B6;
}

#content {
    margin: 5em 25em;
}

.night-mode {
    background-color:#001300;
    color: #faebd7;
}
 
h1, h2, h3, p, a {
    font-family: 'Yeseva One', cursive;
}

h1.intro {
    color: #2E5339;
    font-weight: bold;
    text-align: center;
    
}

p.intro {
    color: #2E5339;
    font-style: italic;
    text-align: center;
}

.resource {
    background-color: #faebd7;
    border-radius: 5em;
    text-align: center;
    margin-bottom: 1em;
}

#introduction {
    background-color: #faebd7;
    border-radius: 1em;
    padding: 1em;
}

li {
    line-height: 3em;
}

ul {
    list-style-type: none;
}
