body {
    background-color: #B5B8A3;
}

#content {
    margin: 2em 25em;
}

.night-mode {
    background-color:#001300;
    color: #faebd7;
}
 
h1, h2, h3, p, a, span {
    font-family: 'Yeseva One', cursive;
}

h1.intro {
    color: #2E5339;
    font-weight: bold;
    text-align: center;
    
}

p.intro {
    color: #2E5339;
    font-style: italic;
    text-align: center;
}

.night-mode-button {
    background-color: antiquewhite;
    border-radius: 5em;
}

#clock {
    font-size: 2em;
    background-color: antiquewhite;
    color:#2E5339;
    max-width: max-content;
    border-radius: 5em;
    padding: .25em;
}

.resource {
    background-color: #faebd7;
    border-radius: 5em;
    text-align: center;
    margin-bottom: 1em;
}

#introduction {
    background-color: #faebd7;
    border-radius: 1em;
    padding: 1em;
}

li {
    line-height: 3em;
}

ul {
    list-style-type: none;
}
